<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/schedules" method="POST">
    <h1>Start Time</h1>
    <input type="number" name="sHour"> <input type="number" name="sMinute">
    <select name="stime">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
    </select>

    <h1>End Time</h1>
    <input type="number" name="eHour"> <input type="number" name="eMinute">
    <select name="etime">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
    </select>

    <input type="hidden" name="Term" value="<%= Term %> ">
    
    <input type="hidden" name="setSections" value="<%= JSON.stringify(SetSections) %> ">

    <h1>Courses + Profs</h1>
    <% let i=0 %> 
    <% for(let course of courses) {%>
        <h3><%= course.CourseName %> </h3>
        <input type="hidden" name="courses[<%- i %>][CourseName]" value="<%= course.CourseName %>" >
        <input type="checkbox" name="courses[<%- i %>][SeatsFilter]" value="true" >
        <% for(let prof of course.Professors) {%> 
           <input type="checkbox" id="check-<%= prof.replace(/\s/g, '')%>-<%= course.CourseName %>" value="<%= prof %>" name="courses[<%- i %>][ProfessorFilter][]" checked>
           <label for="check-<%= prof.replace(/\s/g, '') %>"> <%= prof===". STAFF" ? prof="TBA" : prof %> </label>
        <% } i++ %>
    <% } %>
    <br>
    <button>Generate Permutations</button>
    </form>
</body>
</html>