<link rel="stylesheet" href="filterForm.css">
<% layout("boilerplate") %>
<h1 class="display-3 text-center mt-3 mb-4" id="title">Filter Schedules</h1>
<% var D = {
  "SS1":"Social Sciences I",
  "SS2":"Social Sciences II",
  "H1":"Humanities I",
  "H2":"Humanities II",
  "NS":"Natural Sciences",
  "Ar":"Arabic Communication Skills",
  "En":"English Communication Skills",
  "QT":"Quantitative Thought"
}; %>
<form action="/schedules" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2>Preferred Start Time <span class="optional">(optional)</span></h2>
            <small class="card-text text-muted mb-5">Input your preferred start time. All sections that start before
              this time will be filtered out.
            </small>
            <div class="form-group fg mt-2">
              <input type="number" name="sHour" id="sHour" class="form-control" placeholder="09" max=12 min=1 value="<%= sHour?sHour:"" %>"> <span class="colon">:</span> <input id="sMin" type="number" name="sMinute" class="form-control" placeholder="30" max=59 min=0 value="<%= sMinute?sMinute:"" %>">
              <select class="form-select" name="stime" id="stime">
                <option <%= stime&&stime==="AM"?"selected":"" %> value="AM">AM</option>
                <option <%= stime&&stime==="PM"?"selected":"" %> value="PM">PM</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2>Preferred End Time <span class="optional">(optional)</span></h2>
            <small class="card-text text-muted mb-5">Input your preferred end time. All sections that start after
              this time will be filtered out.
            </small>
            <div class="form-group fg mt-2">
              <input type="number" name="eHour" id="eHour" class="form-control" placeholder="05" max=12 min=1 value="<%= eHour?eHour:"" %>"> <span class="colon">:</span> <input type="number" name="eMinute" id="eMin" class="form-control" placeholder="00" max=59 min=0 value="<%= eMinute?eMinute:"" %>">
              <select class="form-select" name="etime" id="etime">
                <option value="AM" <%= etime&&etime==="AM"?"selected":"" %>>AM</option>
                <option value="PM" <%= !etime||etime==="PM"?"selected":"" %>>PM</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <input type="hidden" name="Term" value="<%= Term %> ">

      <input type="hidden" name="setSections" value="<%= JSON.stringify(SetSections) %> ">
      <input type="hidden" name="customCourses" value="<%= JSON.stringify(customCourses) %> ">

      <h1>Courses + Professors</h1>
      <small class="card-text text-muted mb-3">- For each of the below <b>courses</b> (white background), select the filters you desire. Check on the "seat
        availability" box if you want to filter out all sections of a course that do not have capacity. In addition, check on all professors that
        you would like to take this course with and uncheck all professors that you would like to filter out.<br class="mb-3">
        -For each of the below <b>electives</b> (yellow background), select the filters you desire. Check on the "seat
        availability" box if you want to filter out all sections of a course that do not have capacity. In addition, check on all the courses you would
        like to take under this category and uncheck all courses that you would like to filter out.

      </small>
      <% let i=0 %>
      <% for(let course of courses) {%>
      <% let course2 = courses2 ? (courses2.find(el => el.CourseName===course.CourseName)) : null %>
      <div class="col-6 col-md">
        <div class="card mb-3">
          <div class="card-body card-<%= i %>">
            <div class="top">
              <h3>
                <%= course.CourseName %>
              </h3>
              <button class="selBtn sel-<%= i %>">Uncheck All</button>
            </div>
            <input type="hidden" name="courses2[<%- i %>][CourseName]" value="<%= course.CourseName %>">
            <div class="form-check">
              <% let c = course2&&course2.SeatsFilter %>
              <input type="checkbox" class="form-check-input checkbox-<%= i %>" name="courses2[<%- i %>][SeatsFilter]" value="true" id="seats-<%= i %>" <%= c ? "checked" : ""%>>
              <label for="seats-<%=i%>" class="form-check-label">
                <span class="seatCheck"> <i class="fas fa-chair"></i> Seat Availability </span>
              </label>
            </div>

            <% for(let prof of course.Professors) {%>
            <div class="form-check">
              <% let label= `check-${prof}-${course.CourseName}` %>
              <input type="checkbox" class="form-check-input checkbox-<%= i %>" id="<%= label %>" value="<%= prof %>" name="courses2[<%- i %>][ProfessorFilter][]" <%= course2&&!course2.ProfessorFilter.includes(prof) ? "" : "checked" %>>
              <label class="form-check-label" for="<%= label %>">
                <i class="fas fa-user-tie"></i> <%= prof===". STAFF" ? prof="TBA" : prof %>
              </label>
            </div>
            <% } i++ %>
          </div>
        </div>
      </div>
      <% } %>
      <% let j=0 %>
      <% for(let elective of electivesArr) {%>
      <div class="col-6 col-md">
        <div class="card electiveBorder mb-3">
          <div class="card-body electiveCard">
            <div class="top">
              <h3>
                <%= D[elective.CourseName] %> 
              </h3>
              <button class="selBtn sel-<%= i+j+1 %>">Uncheck All</button>
            </div>
            <% let elective2 = electivesFinal ? (electivesFinal.find(el => el.CourseName===elective.CourseName)) : null %>
            <input type="hidden" name="electivesFinal[<%- j %>][CourseName]" value="<%= elective.CourseName %>">
            <div class="form-check">
              <input type="checkbox" class="form-check-input checkbox-<%= j+1+i %>" name="electivesFinal[<%- j %>][SeatsFilter]" value="true" id="seatsEl-<%= j %>" <%= elective2&&elective2.SeatsFilter ? "checked" : ""%>>
              <label for="seatsEl-<%=j%>" class="form-check-label">
                <span class="seatCheck"> <i class="fas fa-chair"></i> Seat Availability </span>
              </label>
            </div>
            <% for(let course of elective.availableCourses) {%>
            <div class="form-check">
              <% let label= `checkEl-${elective.CourseName}-${course}-${j}` %>
              <input type="checkbox" class="form-check-input checkbox-<%= j+1+i %>" id="<%= label %>" value="<%= course %>" <%= elective2&&elective2.courseFilter&&!elective2.courseFilter.includes(course) ? "" : "checked" %> name="electivesFinal[<%- j %>][courseFilter][]">
              <label class="form-check-label" for="<%= label %>">
                <i class="fas fa-user-tie"></i> <%= course %>
              </label>
            </div>
            <% } j++ %>
          </div>
        </div>
      </div>
      <% } %>
      <br>
      <button class="btn btn-large btn-success mb-3" id="genPerms">Generate Schedules</button>
    </div>
  </div>
</form>

<script>
  let timeToInt = <%- timeToInt %>
</script>

<script src="filterForm.js"></script>